/*clint infor mation*/
.info {
  background-color: #f1efed;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;;
}

.info h1 {
  font-size: 2.5rem;
  background-color: #4B4D43;
  color:#f2f2f2;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 2.7rem;
  border-radius: 10px;
}
  
.info p {
  margin: 5px 0;
  font-size: 1.2rem;
  line-height: 1.5;
  
}

.p{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-left: 9rem;
  margin-right: 2rem;
  position: relative;
  bottom: 8rem;
  margin-bottom: -8rem;
}

.info img {
  width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  position:relative;
  bottom: 4.5rem;
  left:1rem
}

.info strong {
  font-weight: bold;
}

.preference{
  border: 1.5px solid #ccc;
  border-radius: 20px;
  padding: 0.1rem;
  background-color: #f7f6f5;
}

/*end clint infor mation*/


/*disiners grid*/
.allDesigners{
  background-color:#4B4D43 ;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #888888;;
}

.allDesigners h1{
  color:#f1efed;
  text-align: center;
  padding-top: 1rem;
  margin-bottom:-0.1rem;
}

.filter{
  text-align:right;
  color:#f1efed ;
}
#filter{
  border: 1.5px solid #ccc;
  border-radius: 20px;
  padding: 0.1rem;
  background-color: #f7f6f5;
}
.designers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.designer {
  background-color: #f1efed;
  margin: 2rem;
  text-align: center;
  padding: 01rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Image navigation */
.slider-container {
  position: relative;
  max-width: 100%; 
  overflow: hidden;
  margin: 0 auto; 
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-container img {
  max-width: 100%; 
  height: auto;
}

.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(243, 243, 231, 0.674);
  border: 1.2px solid rgb(164, 164, 164);
  border-radius: 70px;
  color: rgb(164, 164, 164);
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* End image navigation */

.profile-pic {
  width: 80px;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-bottom: -1.2rem;
}


.designer h2 {
  margin-top: 10px; 
}

.designer a {
  color:#262727;
  text-decoration: none; 
}

.designer p.specialty {
  margin-top: -10px;
}

a.consult{
  text-decoration: none;
  color: #F1EFED;
  background-color: #493133;
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px; 
}

a.consult:hover {
  background-color: #45434D;
}
/*end disiners grid*/

/*Previous Design Consultation Requests*/
.PreviousDesign{
  background-color: #f1efed;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;;
}

div table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table caption {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  background-color: #4B4D43;
  color: #F1EFED;
  border-radius: 8px;
  margin-bottom: 15px;
}

table th, table td {
  padding: 15px;
  text-align: center;
}

table th {
  background-color: #493133;
  color: #F1EFED;
  max-width: 200px;
}

table td {
  background-color: #F1EFED;
}

table a {
  text-decoration: none;
  color: #493133;
  font-weight: bold;
}

table img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.conseltationImg{
  width:200px;
  border-radius: 0%;
  margin-bottom: 0px;
}
/*end Previous Design Consultation Requests*/


/*HAPPINESS GUARANTEE*/

#happy{
    background-color: #493133;
    color:#f1efed ;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#happy h1{
    font-size: 1.7rem;
}

/*end HAPPINESS GUARANTEE*/