@import url('https://fonts.googleapis.com/css?family=Amiri');

/* BASIC */

html {
    background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(90, 68, 69, 0.317)),
    url('images/m3.jpg');
    min-height:100%;
    background-attachment: fixed;

}

body {
  font-family: "Amiri", serif;
  font-weight: 500;
  font-size: larger;
}

a {
  color: #32704f;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  display:inline-block;
  color: rgba(79, 104, 83, 0.5);
}

legend {
  text-align: center;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  /*padding: 20px;*/
}

#formContent {

  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: rgb(240,238,236);
 padding-top: 30px;

  width: 100%;
  max-width: 650px;
  height: 100%;
  max-height: fit-content;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;

}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}




/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */


/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1s;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  padding: 1em;
  text-align: left;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 1em;
  padding: 0.5em 4em;
  background-color: rgb(208, 200, 192);
  border-radius: 15px;
  color:rgba(79, 104, 83, 0.802) ;
  transition:all .2s ease-in-out;
  text-align: center;
  font-weight: 1000;
  font-size: 1em;
  font-family: 'Amiri';
  outline: none;
}

  
.fadeIn.third:hover {
    background:rgba(79, 104, 83, 0.802);
    color:rgb(240,238,236);
    box-shadow: 0 0 0 2px rgba(160, 160, 160, 0.2); 
    
  }



/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: rgb(208, 200, 192);
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}









.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
  justify-self: center;
  border: 2px rgba(208, 200, 192,0.3) solid;
  border-radius: 5px;
  width: 50%;
  height: 20%;
  transition: ease-in-out 0.2s;
	&+.input {
		margin-top: 1.5rem;
	}
}


.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}



.input + .input {
  margin-top: 2rem;
}
.input-label {
  color: rgba(79, 104, 83, 0.802);
  position: absolute;
  transition: 0.25s ease;
  padding-left: 5px;
  padding-bottom: 2px;
}

.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: rgba(79, 104, 83, 0.802);
  background-color: rgba(208, 200, 192,0.3);
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
  color:rgba(79, 104, 83, 0.802);
  transform: translateY(-2.25rem);
}









label {
  display: flex;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.385em;

  /* Accessible outline */
  /* Remove comment to use */
  /*
   &:focus-within {
   outline: .125em solid $primary-color;
   }
   */
}
label input {
  opacity: 0;
}

label input:checked + span {
  background-color: rgba(79, 104, 83, 0.2);
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.35em rgba(79, 104, 83, 0.802);
}
label span {
  display: flex;
  align-items: center;
  padding: 0.37em 0.7em 0.37em 0.37em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: rgba(208, 200, 192,0.3);
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.12em rgba(79, 104, 83, 0.802);
}


fieldset {
  border-color: rgba(240,238,236,0.3);
}
